name: Test

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres_db:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: librepass
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Generate keypair
        run: |
          openssl genrsa -out privateKey.pem 2048
          openssl rsa -in privateKey.pem -outform PEM -pubout -out publicKey.pem

      - name: Run tests
        run: ./mvnw clean test
        env:
          API_DOMAIN: example.com
          PORT: 8080
          CORS_ALLOWED_ORIGIN: '*'
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: librepass
          MAIL_SMTP: ${{ secrets.MAIL_SMTP }}
          MAIL_SMTP_PORT: ${{ secrets.MAIL_SMTP_PORT }}
          MAIL_SMTP_USERNAME: ${{ secrets.MAIL_SMTP_USERNAME }}
          MAIL_SMTP_PASSWORD: ${{ secrets.MAIL_SMTP_PASSWORD }}
          MAIL_SMTP_AUTH: true
          MAIL_SMTP_TLS_ENABLED: true
          SMTP_EMAIL_ADDRESS: ${{ secrets.SMTP_EMAIL_ADDRESS }}
